<h1 class="fontfor center blue-text">Editing Orphanage</h1>

<%= render 'form' %>

<%= link_to 'Show', @orphanage, class:"blue btn white-text" %> |
<%= link_to 'Back', orphanage_path, class:"blue btn white-text" %>
