@import "materialize";


@font-face {
    font-family: 'robotothin';
    src: url('Roboto-Thin-webfont.eot');
    src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Thin-webfont.woff') format('woff'),
         url('Roboto-Thin-webfont.ttf') format('truetype'),
         url('Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fontfor{
	font-family: 'robotothin';
	font-weight: 500;
}

#land{
	width: inherit;
	background-size: cover;
	height: 400px;
	z-index: 10;	
}
.firstimage{
	background-size: cover;	
}
#noticewrapper{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: #2196F3;
	opacity: 0.85;
}
.alert, .notice{
		text-align: center;
		letter-spacing: 1px;
		background-color: #2196F3;
		color: #fff; 
		font-family: 'robotothin';
		font-weight: 700;		
	}

#navtitle{
	font-size: 30px;
	font-family: 'robotothin';
}
#slider{
	background-image: url('/assets/bgdreams.jpg');
	width: auto;
	height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
	/*position: relative;*/

}
#jumbotron{
	width: 550px;
	height: 600px;
	background-color: #fff;
	opacity: 0.9;
	z-index: 10;
	border-radius: 25px;
	right: 0;
	position: absolute;	
	margin-right: 30px;

	.pabout{
		text-align: center;
		padding: 10px;
		letter-spacing: 1px;
	}
}
#login{
	font-size: 20px;
	font-weight: 500;
}
#slogan{
	font-family: 'robotothin';
}
.parallax-container {
      height: 750px;
    }
#about{
	font-family: 'robotothin';
	height: 800px;
	font-size: 30px;	
}

#featured{
	height: auto;
}
#buttons-register{
	font-size: 25px
}
#reg{
	font-size: 50px;
	font-family: 'robotothin';
}
#rowimages{
	width: 100%;	
}
#imgfeatured{
	max-width: 100%;
	max-height: 100%;
}
article{
	max-width: 100%;
	max-height: 100%;
	padding: 10px, 5px, 5px, 5px;
}
#register{
	background-image: url('/assets/bgdreams2.jpg');
	background-size: cover;
}
.formszote{
	left: 0;
	background: #fff;
	opacity: 0.7;
	border-radius: 25px;
}
#headersponsor{
	height: 500px;
	width: auto;	
}
#headerimage{
	background: url("/assets/black-hanshake.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;	
}