// Place all the styles related to the orphanages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropdown1{
	width: 200px;
	height: 400px;
}
.navfixed{
	transition-duration: 5s;
}