<!DOCTYPE html>
<html>
<head>
  <title>Dreams Alive</title>
    <%= stylesheet_link_tag    'application', media: 'all', 
    'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar-fixed">
      <div class="nav-wrapper">
      <nav class="blue"> 
          <a href="" class="brand-logo center" id="navtitle">
          <% link_to '', root_path %>  
          Dreams Alive</a>   
        <ul id="slide-out" class="side-nav">
          <li><a href="#about" id="#toabout">About</a></li>
          <li><a href="#!">Sponsors Portal</a></li>
          <li><a href="#!">Orphanages Portal</a></li>
          <li><a href="#!">Featured Orphanages</a></li>
          <li><a href="#!">Donate</a></li>
        </ul>
        <a href="#" data-activates="slide-out" 
        class="button-collapse show-on-large">
          <i class="mdi-navigation-menu"></i>
        </a>
      </nav> 
    </div>
  </div>
  

    
    
  <%= yield %>
  <footer class="page-footer blue white-text">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Cornellius Ngondo
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
  </footer>

  <script type="text/javascript">
    $('.button-collapse').sideNav({
          menuWidth: 300, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        }
      );
  </script>

  <script type="text/javascript">
      $(document).ready(function(){ 
                $("#toabout").click(function() {
                    $('html, body').animate({
                        scrollTop: $("#about").offset().top
                    }, 1500);
                });
            });
  </script>
</body>
</html>
